<div>
  <h2 id="page-heading" data-cy="EdicaoHeading">
    <span jhiTranslate="gameShowApp.edicao.home.title">Edicaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gameShowApp.edicao.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-edicao"
        [routerLink]="['/edicao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gameShowApp.edicao.home.createLabel"> Create a new Edicao </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="edicaos?.length === 0">
    <span jhiTranslate="gameShowApp.edicao.home.notFound">No edicaos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="edicaos && edicaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="edicaoTitulo">
            <span jhiTranslate="gameShowApp.edicao.edicaoTitulo">Edicao Titulo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="edicaoData">
            <span jhiTranslate="gameShowApp.edicao.edicaoData">Edicao Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="play.id"><span jhiTranslate="gameShowApp.edicao.play">Play</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let edicao of edicaos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/edicao', edicao.id, 'view']">{{ edicao.id }}</a>
          </td>
          <td>{{ edicao.edicaoTitulo }}</td>
          <td>{{ edicao.edicaoData | formatMediumDate }}</td>
          <td>
            <div *ngIf="edicao.play">
              <a [routerLink]="['/play', edicao.play?.id, 'view']">{{ edicao.play?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/edicao', edicao.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/edicao', edicao.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(edicao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="edicaos && edicaos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
